.imageScroller {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: block;
  white-space: nowrap;
  background-color: var(--dark);
}

.image {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  padding: 0;
  transition: 1s;
  filter: opacity(1);
}

.imageFade {
  filter: opacity(0);
}

.arrow {
  position: absolute;
  width: 2rem;
  z-index: 2;
  top: 50%;
  padding: 1rem;
  border: 1px solid var(--gray-200);
  cursor: pointer;
  background-size: 0% 0%;
  background-color: var(--gray-200);
  background: linear-gradient(270deg, var(--dark) 0%, var(--violet-200));
  background-size: 200% 100%;
  background-position: right;
  transition: 0.5s;
}

.arrow:hover {
  background-position: left;
}

.gradient {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(var(--transp) 30%, var(--dark) 100%);
  z-index: 1;
}

.explore {
  position: absolute;
  z-index: 3;
  left: 10rem;
  top: 75%;
  border: 2px solid red;
}

.exploreText {
  position: relative;

}

.exploreButton {
  position: relative;
  color: var(--light);
  font-size: var(--font-20);
  padding: 1rem;
  padding-inline: 2rem;
  border: 2px solid var(--gray-200);
  border-radius: 2rem;
  background: linear-gradient(180deg, var(--transp), var(--violet-200));
  background-size: 100% 200%;
  background-position: top;
  transition: 0.5s;
  cursor: pointer;
}

.exploreButton:hover {
  background-position: bottom;
}

/* background: linear-gradient(270deg, var(--dark) 0%, var(--violet-200));
background-size: 200% 100%;
background-position: right;
transition: 0.5s;
}

.arrow:hover {
background-position: left;
} */

.video {
  position: relative;
  display: flex;
  box-sizing: border-box;
  z-index: 1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  padding: 0;
  border-top: 0.25rem solid var(--green-500);
}

@media screen and (max-width: 480px) {
  .video {
    width: 100%;
    margin: unset;
  }
}
