.background {
  height: 100vh;
  width: 100vw;
  background-color: var(--violet-200);
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: auto;
  padding-inline: 7rem;
  left: 0;
  right: 0;
}

.card {
  display: block;
  position: relative;
  height: 70vh;
  width: 30%;
  background-color: var(--light);
  color: var(--gray-100);
  text-align: center;
  filter: drop-shadow(10px 10px 10px var(--violet-300));
}

.title {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleText {
  font-size: var(--font-30);
  font-weight: var(--bold);
  text-transform: uppercase;
}

.titleIcon {
  height: 1.7rem;
  margin-left: 0.5rem;
}

.price{
  font-size: var(--font-20);
  color: var(--gray-100);
  margin-bottom: 2rem;

}

.text {
  font-size: var(--font-16);
  margin-inline: 1rem;
}

.image {
}

.button{
  position: absolute;
  background-color: var(--violet-300);
  color: var(--light);
  font-weight: var(--bold);
  width: fit-content;
  padding: 1rem;
  bottom: 3rem;
  margin: auto;
  left: 0;
  right: 0;
  cursor: pointer;
}

.button:hover{
  background-color: var(--violet-200);
}