.background{
    height: 100vh;
    width: 100vw;
    background-color: var(--violet-200);
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 90%;
    h
    margin: auto;
    left: 0;
    right: 0;
    border: 2px solid red;

}

.card{
    height: 70vh;
    width: 25%;
    background-color: var(--light);
}