.newspicker {
  display: block;
  flex-direction: column;
  height: 100%;
}

.newsTitle {
  font-size: var(--font-48);
  color: var(--gray-300);
  margin-bottom: 2rem;
}

.newsButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 50%;
}

.newsButton {
  color: var(--gray-300);
  font-size: var(--font-20);
  border: 2px solid var(--transp);
  margin-inline: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.newsButtonSelected {
  border: 2px solid var(--light);
  color: var(--light);
}

.newsContainer {
  width: 100%;
  height: 100%;
}
.newsItem {
  border: 2px solid red;
}
