.newsItem {
    display: flex;
    box-sizing: border-box;
    color: var(--gray-200);
    background-color: var(--dark);
    flex-basis: 25%;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    width: 100%;
    margin-top: 8rem;
    padding-block: 8rem;
    padding-inline: 7rem;
  }
  
  .newsItemImage {
    width: 50%;
    object-fit: cover;
    margin-right: 0.5rem;
  }
  .newsItemTitle {
    font-size: var(--font-30);
    font-weight: var(--bold);
    margin-bottom: 2rem;
  }
  .newsItemText {
  }

  .backButton{
    position: absolute;
    top: 10rem;
    color: var(--gray-200);
    padding: 1rem;
    border: 1px solid var(--gray-200);
    tran
  }

  .backButton:hover{
    background-color: var(--gray-100);
    color: var(--gray-300);
  }