.image{

}

.title{

}

.text{

}

.gradient{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(at left top, var(--teal-300) 0%, var(--violet-200), var(--violet-300));
    background-size: 100% 150%;
}